@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1 class="display-4" style={text-align:center;text-color:Red;}>Welcome to the BookList</h1>
    <p>
    Go the Book Database from top-left corner Book button
    </p>
    <img src="/css/book_img.jpg" alt="Book Image" style="height:100%;width:fit-content;" />
</div>
